body{
  padding: 0;
  margin: 0;
}

.frutos{
  background-image: url(../img/dried.jpg);
  background-color: pink;
  height: 100vh;
  min-height: 300px;
  background-size: cover;
  opacity: .9;
}

.organico{
  background-image: url(../img/organic.jpg);
  background-color: pink;
  height: 100vh;
  min-height: 300px;
  background-size: cover;
  opacity: .9;
}

.ciclo{
  background-image: url(../img/ciclo.jpg);
  background-color: pink;
  height: 100vh;
  min-height: 300px;
  background-size: cover;
  opacity: .8;
}


.contacto{
  background-image: url(../img/contacto.jpg);
  background-color: pink;
  height: 100vh;
  min-height: 300px;
  background-size: cover;
  opacity: .8;
}



/*CAROUSEL*/

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat;
  background-size: cover;
}


.img-fluid{
  position: absolute;
  z-index: 1;
  top:0;
  left: 30%;
  right: 30%;
  padding: 0;
  align-content: center;
}

.s1{
  background-image: url(../img/4.jpg);
  opacity: 1;
}
.s2{
  background-image: url(../img/3.jpg);
  opacity: 2.5;
}
.s3{
  background-image: url(../img/5.jpg);
  opacity: 3.9;
}

.carousel-caption{
  margin: 30px 0;
  padding: 20px 0;
  top: 30%;
  background-color: rgba(0,0,0,.5);
}

.carousel-caption h1{
  font-size: 5em;
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
  line-height: 90%;
}

.carousel-caption p{
  padding: 5% 20%;
  font-size: 1.5em;
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
  line-height: 90%;
}

.carousel-caption h5{
  font-size: 2em;
  margin-top: 15%;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1px;
  line-height: 90%;
}



/*NAVBAR*/

.navbarfixed{
  margin-top: 10%;
  position: absolute;
  float: none;
  text-align: center;
  z-index: 1;
  width: 100%;
  padding: 0 5%
}

.logo{
  background-color: rgba(0,0,0,.5);
}

.nav-link, .logo{
  font-family: 'Staatliches', cursive;
  letter-spacing: 6px;
  color: white;
  font-size: 1.3em;
  align-content: center;
  background-color:rgba(0,0,0, .5);
}

.nav-link, .logo{
  font-family: 'Staatliches', cursive;
  letter-spacing: 6px;
  color: white;
  font-size: 1.3em;
  align-content: center;
  background-color:rgba(0,0,0, .5);
}

.a:hover{
  background-color: background-color:rgba(255,255,255, .2);
}

.nav-link:hover{
 color: black;
 font-size: 1.3;
 align-content: center;
 background-color:rgba(255,255,255, .2);
}

.dropdown .dropdown-menu {
  background-color: rgba(0,0,0, .2);
  border: 2px white solid;
}

.open{
  background: white;
}

.dropdown .dropdown-menu .dropdown-item{
  color: white;
}

.dropdown .dropdown-menu .dropdown-item:hover{
  color: black;
}

/*MAIN*/

/*CARDS*/

.cardgroup{
    align-content: center;
}

.card-img{
  opacity: .5;
}

.card-group .card .card-img-overlay{
  padding: 30px 50px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
  text-align: center;
}

.purple{
  background-color: #42353d;
  color: white;
  align-content: center;
}

.purple img{
  background-color: #42353d;
  color: white;
  align-content: center;
}

/*WHITE*/
.white{
  padding: 5% 30% 0;
  font-family: 'Staatliches', cursive;
  color: #666666;
}

.white p{
  font-size: 1.5em;
  text-align: center;
}

.white .texto{
  padding-top: 5%;
  font-size: 1.3em;
   font-family: 'El Messiri', sans-serif;
}

.btn{
  width: 100%;
}

h2{
  text-align: center;
}

form{
  margin: 0% 25%;
  font-family: 'El Messiri', sans-serif;
}

label{
  text-align: center;
  align-content: center;
}

footer{
  background-color: #1b171c;
  color: white;
  align-content: center;
  text-align: center;
  padding: 5% 10%;
}

